<div class="store_list">
  <h4><u>Available Stores</u></h4>
  <ul style="margin-top: 20px;">
    <% @stores.each do |store| %>
      <li><h6><%= link_to store.name, store_path(store.id) %></h6></li>
      <br>
      <br>
    <% end %>
  </ul>
</div>
