<h2>Editing Product</h2>

<%= render 'form', product: @product %>

<%= link_to 'Show', store_product_path(id: @product.id, store_id: @product.store_id) %> |
<%= link_to 'Back', store_products_path(store_id: @product.store_id) %>
